$primary-color: #e61a23;
$hover: #a11017;
$hover-transparent: #e61a2480;

$secondary-color: #000;
$hover-blue: #333;
$green-color: #00bd00;

$text-color: #2e292a;

$light: #fff;
$dark: #000;
$light-gray: #f7f8f9;
$font-lightGray : #efefef;
$middle-gray: #b0b0b0;
$dark-gray: #474955;
$dark-dark-gray: #202024;

/* Mixins Dégradés */

@mixin liGray-to-white {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f8f9",GradientType=1);
}

@mixin white-to-liGray {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 248, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f8f9",GradientType=1);
}

@mixin transBlack-to-black {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.bgSec {
  background-color: $secondary-color !important;
  border: 1px solid $secondary-color;
}

.txtBlue {
  color: $secondary-color !important;
}
