
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #hero-container {
    height: 75vh;
    
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          position: relative;
        
          img {
            width: auto;
            max-width: inherit;
            height: 100%;
          }
  
          .content {
            position: absolute;
            left: 10vw;
            right: auto;
            margin-top: 200px;
          }
        }
      }
    }
  }
}
  
/* CSS Mobile */
@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }
  
  h1 {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .top_banner_header{
    height: auto;
    padding: 10px 0;
    
    p{
      line-height: 1rem;
      margin-bottom: 0;
      letter-spacing: 3px;
    }
  }

  // COMMUN
  
  .subtitle {
    letter-spacing: 4px;
    font-size: 0.8rem;
  }

  form{
    .form_grid{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  .container.columns {
    flex-direction: column;
  
    .col-g,
    .col-d {
      width: 100%;
    }
  }
  
  .header {
    z-index: 10000 !important;
    width: 80vw;
    left: 10vw;
    top: 120px;
  
    .col-g,
    .col-d {
      width: 50%;
      }
  
    .col-g{
      .logo{
        width: 150px;
      }
    }
  
    .col-d {
      .secondary-navigation,
      .primary-navigation {
        display: none;
      }
  
      .hamburger-menu {
        display: block;
        width: 40px;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  
  .megamenu {
    width: 100vw;
    height: 100vh;
    background-color: $secondary-color;
    top: -100px;
    padding-top: 100px;
    color: $light;
    transform-origin: right;
    transform: translateX(100vw);
    transition: all ease-in 300ms;
    position: fixed;
    z-index: 15;
    display: block;
  
    .primary-navigation {
      position: absolute;
      bottom: 10vh;
      left: 10vw;
  
      ul {
        list-style: none;
  
        li {
          a {
            font-weight: 500;
            font-size: 2.3rem;

            .block-img{
              max-width: 40px;
            }
          }
  
          .sub-menu {
            padding-left: 40px;
            margin-top: 20px;
  
            li {
              margin: 0;
              margin-bottom: 10px;
          
              a {
                font-size: 1.5rem;
              }
            }
          }
        }
  
        li + li {
          margin-top: 30px;
        }
  
        .cta {
          border-radius: 30px;
          padding: 0;
          color: $primary-color;
          text-decoration: none;
          text-transform: capitalize;
          font-weight: 300;
          letter-spacing: 0;
        }
      }
    }
  }
  
  .active-menu {
    transform: translateX(0);
    opacity: 1;
    z-index: 9999;
  }
  
  .fixed {
    position: fixed;
    z-index: 16;
  }
  
  footer {
    .container {
      text-align: center;
  
      .footer-top {
        flex-direction: column;
        padding: 50px 0;
  
        .col {
          width: 100%;
          padding-bottom: 0px;
          text-align: center;
  
          p {
            text-align: center;
          }
  
          .logo-footer {
            text-align: center;
            height: 60px;
            margin-bottom: 30px;

            img {
              margin: auto;
            }
          }
        }
  
        .col + .col {
          border-left: 0;
          padding-left: 0;
        }
  
        .col-2 {
          display: none;
        }
  
        .rs_footer {
          display: flex;
          flex-direction: column;
  
          a + a {
            margin-left: 10px;
          }
        }
      }
    }

    .footer_middle{
      .container{
        padding-bottom: 0;

        p{
          margin-bottom: 0;
        }
      }
    }
  
    .footer_bottom {
      .desktop {
        display: none;
      }
  
      .mobile {
        display: block;
  
        .links {
          display: flex;
          justify-content: center;
          gap: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
  
  /* Home */
  
  .cta-hero {
    display: none;
  }
  
  #hero-container {
    height: 95vh !important;
  
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          position: relative;
    
          img {
            width: auto;
            max-width: inherit;
            height: 100%;
          }
  
          .content {
            position: absolute;
            left: 10vw;
            right: auto;
            margin-top: 150px;
  
            p {
              letter-spacing: 4px;
            }
  
            h1 {
              font-size: 2.5rem;
              line-height: 2.5rem;
              margin-top: 20px;
              margin-bottom: 70px;
            }
          }
        }
      }
    }
  }
  
  #section-introduction {
    padding-bottom: 100px;
    .col-g {
      h2 {
        margin-bottom: 50px;
      }
    }

    .col-d {
      margin-top: 0px;
    }
  }
  
  .page-template-contact {
    #contact {
      padding-top: 100px;
      padding-bottom: 0;
    }
  }
  
  #liste-actualites{
    padding-bottom: 250px;
  }
  
  #liste-actualites,
  #simple-page {
      .container {
        margin-top: 50px;
        flex-direction: row;
        .card-news.-left {
          .col-g {
            margin-top: 180px;
            padding: 20px 30px;
            width: 70%;
          }
          .col-d {
            width: 100%;
            margin-left: -80%;
            overflow: hidden;
            max-height: 300px;
          }
        }
  
        .card-news.-right {
          .col-g {
            width: 100%;
            margin-right: -80%;
            overflow: hidden;
            max-height: 300px;
          }
          .col-d {
            margin-top: 180px;
            padding: 20px 30px;
            width: 70%;
          }
        }
  
        .content-toggle.amenagements {
          grid-template-columns: repeat(1, 1fr);
        }
  
        .content-toggle {
          
          .accordion {
            width: calc(100% - 30px) !important;
  
            h2{
              font-size: 1.8rem;
            }
  
            &::after{
              font-size: 2rem;
            }
          }
        }
      }
  
      .cta-actus{
        margin: 0 auto 100px;
        background-color: $primary-color;
        color: #fff;
      }
  }
  
  
  .page-template-services #liste-actualites {
      padding-bottom: 0px;
      border-bottom: 1px solid $light-gray;
  }
  
  #savoir-faire{
      padding-top: 30px !important;
  
      .col-1{
        width: 55%;
        padding: 100px 0 0;
      }
  
      .col-2{
        width: 80%;
        margin-left: 10%;
      }
  
      .col-3{
        margin-left: -10%;
        width: 80%;
  
        .block-img{
          height: 250px;
          position: relative;
        }
      }
  }

  .custom-shape-divider-bottom-1733734661{  
      margin-top: -1px;
      margin-bottom: -1px;
  
      svg{
        fill: $light;
        height: 65px;
      }
  }
  
  /* A PROPOS */
  
  .page-template-a-propos {
      #header {
        height: 300px;
        padding-bottom: 100px;
        background-color: $secondary-color;
    
        .container{
          margin-top: 200px;
    
          h1{
            color: $light;
            font-weight: 400;
    
            strong{
              font-weight: 600;
            }
          }
        }
      }
    
      #section-introduction {
        padding: 0;
        margin: 0;
        height: auto;
    
        .clip{
          background-color: $light;
    
          .container {
            flex-direction: column-reverse;
  
            .col-g {
              margin: 0;
              
              .swiper,
              .swiper-slide{
                height: 450px;
              }
            }
          }
        }
      }
    
      #section-valeurs{
        #intro-valeurs{
          padding-top: 70px;
          gap: 0;
        
          .colg,
          .cold{
            width: 100%;
        
            h2 {
              margin-bottom: 10px;
              color: $dark;
    
              strong{
                color: $primary-color;
              }
            }
          }
        }
    
        #tabs-valeurs{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 0;
    
          .tiny-columns{
            border-left: none;
            border-bottom: 1px solid $font-lightGray;
            padding: 30px 0;
          }
        }
    
        .section-background{
          height: 300px;
          margin-top: 100px;
        }
      }
    
      #leader{
        background-color: $dark;
        padding: 100px 0;
    
        .columns{
          .col-g{
            width: 100%;
    
            .block-img{
              height: 300px;
            }
          }
    
          .col-d{
            width: 100%;
            padding-top: 20px;
    
            p{
              color:$light;
            }
    
            .cta{
        
              &:hover{
                color : $light;
        
                &::after{
                  border-color: $primary-color;
                }
              }
            }
          }
        }
    
        .statsBlock{
          display: flex;
          gap: 30px;
          margin-top: 20px;
    
          .block-stat{
            height: 150px;
            width: 300px;
    
            p{
              text-align: center;
              font-size: 1.8rem;
              line-height: 2rem;
            }
          }
        }
    
        .cta{
          margin: 50px auto 0;
        }
      }

      #card-news{
        padding: 20px 0;
    
        .container{
          gap: 0;
    
          .col-g{
            width: 100%;
            position: relative;
            z-index: 1; 
    
            .content{
              width: 100%;
              padding: 50px 0;
              margin-top: 0;
    
              h2{
                color: $secondary-color;
                margin-bottom: 40px;
    
                strong{
                  color: $primary-color;
                }
              }
            }
          }
    
          .col-d{
            width: 100%;
            margin-left: 0;
            position: relative;
            z-index: 0;
    
            .swiper{
              .swiper-wrapper{
                .swiper-slide{
                  height: 500px;
                }
              }
            }
          }
        }
      }
  
      #portion-consommateur,
      #croissance{
        background-color: $dark;
        margin-top: 200px;
        position: relative;
    
        .columns{
          flex-direction: column;
          gap: 0;
    
          .block-img{
            margin-top: -200px;
            height: 400px;
          }
    
          .texte{
            width: calc( 100% - 40px);
            padding: 120px 60px 0 0;
  
            &::before{
              content:'';
              width: 90%;
            }
    
            h2,
            p{
              color: $light;
              position: relative;
              z-index: 2;
            }
    
            h2{
              font-weight: 800;
              margin-bottom: 50px;
            }
  
            margin-top: -250px;
          }
    
          .block-img-2{
            width: 180px;
            margin: auto;
            margin-top: 0;
            margin-bottom: -80px;
          }
        }
      }
      
      #transport-logistique{
        padding-top: 150px;
    
        .container{
          border-bottom: 1px solid $font-lightGray;
          padding-bottom: 100px;
    
          .col-g{
            position: relative;
    
            .block-img{
              height: 380px;
            }
    
            .floating-img{
              width: 200px;
              position: absolute;
              bottom: -50px;
              left: 0;
              height: 170px;
            }
          }
    
          .col-d{
            padding-top: 100px;
    
            h3{
              text-transform: uppercase;
              color: $middle-gray;
              letter-spacing: 3px;
              font-size: 1rem;
              line-height: 1.5rem;
              display: flex;
              align-items: center;
              margin-bottom: 30px;
    
              &::before{
                content:'';
                display: block;
                width: 30px;
                height: 2px;
                background-color: $primary-color;
                margin-right: 20px;
              }
            }
    
            h2{
              color: $secondary-color;
              margin-bottom: 30px;
            }
    
            ul{
              list-style: none;
              margin-bottom: 50px;
    
              li{
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                display: flex;
                justify-content: space-between;
                padding: 15px 0px;
                border-bottom: 1px solid $font-lightGray;
    
                &::after{
                  content:'v';
                  color: $primary-color;
                }
              }
            }
          }
        }
      }
  
      #intro-actualites{
        padding-top: 50px;
  
        .columns{
          .colg,
          .cold{
            width: 100%;
  
            h2{
              margin-bottom: 0;
            }
          }
        }
      }
  
      #liste-actualites{
        .container{
          flex-direction: column;
  
          .card-news{
            width: 100%;
          }
        }
      }

      #livraison{
        .container{
          padding-bottom: 50px;

          .col-d{
            padding-top: 50px;

            h3{
              letter-spacing: 2px;
            }

            ul{
              li{
                padding: 10px 20px 10px 0;
              }
            }
          }
        }
      }
  }
  
  #banner-fullwidth {
      .container {
        .subtitle {
          letter-spacing: 3px;
        }
        .cta {
          margin: 50px auto 0;
        }
      }
   }

  .tiny-separator {
      margin: 50px auto;
  }


  // FRONT-PAGE

  .page-template-accueil,
  .page-template-front-page{
    #hero-container{
      .swiper-hero{
        .swiper-wrapper{
          .swiper-slide{
            .content{
              left: 5vw;
              width: 90vw;

              h1{
                font-size: 2.3rem;
              }

              .block-cta{
                flex-direction: column;
                gap: 0;
              }
            }
          }
        }
      }
    }

    #section-introduction{
      height: 800px;
      margin-top: -250px;

      background: #000;
      background: -moz-linear-gradient(0deg, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(0deg, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);

      .columns{
        flex-direction: column-reverse;

        .col-d{
          .cta{
            position: relative;
            bottom: 0;
          }
        }

        .col-g{
          margin-top: 80px;

          .swiper-resp{
            height: 400px;

            .swiper-wrapper{
              .swiper-slide{
                height: 400px;
              }
            }
          }
        }
      }
    }

    #citation{
      .top_content{
        img{
          width: 100%;
        }
      }
    }

    #nos-valeurs{
      padding-top: 30px !important;

      .columns{
        gap: 50px;

        .colg{
          width: 100%;

          .block-img{
            margin-left: auto;
          }

          h2,
          p{
            margin: auto;
            width: 90%;
          }
        }

        .cold{
          width: 100%;
          
          .block-img{
            margin-top: 0;
            width: 40%;
            height: 360px;
            margin-top: -200px;
          }
        }
      }

      .content-video{
        video{
          width: 90vw;
          margin: auto;
          position: absolute;
          height: 250px;
          bottom: -190px;
          z-index: 15;
          left: auto;
        }
      }
    }

    #menu-section-dark{
      padding: 150px 0;

      .menu-list{
        gap: 0;
        
        a{
          font-size: 2rem;
          line-height: 2rem;
          text-align: left;
        }
      }
    }
    
    #big-text{
      padding: 100px 0;
    }

    #galerie-menu{
      .galerie{
        width: 85vw;

        .swiper-button-next{
          background-color: $dark;
          right: -25px;

          &::after{
            color: $light;
          }
        }
        .swiper-button-prev{
          background-color: $light;
          left: -25px;

          &::after{
            color: $dark;
          }
        }
      }
    }

    #intro-actualites{
      padding-top: 200px;

      .columns{
        .colg,
        .cold{
          width: 100%;

          h2{
            margin-bottom: 0;
          }
        }
      }
    }

    #liste-actualites{
      .container{
        flex-direction: column;

        .card-news{
          width: 100%;
        }
      }
    }
  }
  
  #header-simple-page{
      height: 400px;
  }
  
  #aboutus {
      padding-bottom: 100px;
  
      .swiper-mobile {
        display: block;
        position: relative;
        margin: -50px 0 100px auto;
        z-index: 10;
        min-height: 200px;
        width: 90vw;
  
        .swiper-horizontal {
          touch-action: pan-x;
        }
  
        .swiper-resp,
        .swiper-nos {
          // margin-left: 5vw;
  
          .swiper-slide {
            margin: auto;
            min-height: 320px;
            position: relative;
            overflow-y: hidden;
  
            a {
              position: absolute;
              height: 100%;
              width: 100%;
              display: block;
            }
  
            h4 {
              color: $light;
              position: absolute;
              z-index: 10;
              bottom: 30px;
              left: 30px;
              top: auto;
              font-size: 2rem;
              font-weight: 600;
              text-shadow: 0px 0px 10px #000000a3;
            }
  
            &::before {
              content: "";
              position: absolute;
              display: block;
              width: 100%;
              background-color: transparent;
              transition: all ease-in-out 200ms;
              height: 400px;
            }
  
            &:hover {
              &::before {
                background-color: $hover-transparent;
              }
            }
          }
        }
      }
  
      .container {
        .grid {
          display: none;
        }
      }
  
      .main-content {
        flex-direction: column;
        .col-g {
          width: 100%;
          img {
            margin-left: -15vw;
            height: 300px;
            min-height: auto;
            width: auto;
            max-width: inherit;
            bottom: -60px;
          }
        }
  
        .col-d {
          width: 100%;
          padding-top: 60px;
        }
      }
  }
  
  #confiance {
      padding: 150px 0;
      .container {
        .table_qualite {
          flex-direction: column;
  
          .card_qualite {
            width: 100%;
          }
  
          .card_qualite + .card_qualite {
            border-left: 0;
            padding-left: 0;
          }
        }
      }
  }
  
  #disclaimer {
      top: -50px;
  
      .container {
        width: 100vw;
  
        .box-content {
          top: 30%;
          background-color: #233342;
          width: 70%;
          height: auto;
          padding: 30px;
          left: 20px;
        }
      }
  }
  
  #section-cta-contact {
      height: 600px;
  
      .container {
        padding: 0;
        width: 90vw;
  
        .bloc_img {
          margin-top: 0;
          width: 100%;
          max-width: 100%;
          height: 450px;
        }
  
        .content_section-cta {
          margin-left: -55%;
          margin-top: 100px;
          z-index: 3;
          padding: 30px;
          width: 80%;
          max-width: 80%;
        }
      }
  }
  
  #disclaimer_banner {
      .container {
        flex-direction: column;
  
        .colg {
          width: calc(100% - 60px);
          padding: 20px 30px;
        }
        .cold {
          width: 100%;
  
          .cta {
            right: -20px;
            left: auto;
            top: -25px;
            position: absolute;
          }
        }
      }
  }
  
  #actualites {
      .container {
        .intro_actu {
          flex-direction: column;
  
          h2,
          p {
            width: 100%;
          }
  
          p {
            margin-top: 0;
            padding-top: 0;
          }
        }
  
        .grid_articles {
          flex-direction: column;
  
          .card_article {
            width: 100%;
  
            .home-thumbnail {
              max-height: 250px;
              overflow: hidden;
  
              img {
                display: block;
                width: auto;
                margin-top: -100px;
              }
            }
  
            h3 {
              font-size: 2rem;
              line-height: 2.5rem;
            }
  
            &:last-child {
              margin-top: 0;
            }
          }
        }
  
        .view_more {
          margin-top: 100px;
        }
      }
  }
  
  #contact {
      .container {
        width: 80vw;
      }
  }
  
  #section-cta-contact {
      padding-top: 100px;
  }
  
  #contact {
      h2 {
        font-size: 2.5rem;
        line-height: 3rem;
      }
  }
  
  //Contact

  .page-template-contact{
    #sites-exploitations{
      .columns{
        .col-g{
          width: 100%;

          h3{
            font-size: 2rem;
            line-height: 2.3rem
          }
        }

        .block-img{
          width: 100%;
        }
      }
    }
  }

  .page-template-activites{
    #header-simple-page{
      height: 200px;
    }

    #acteur-majeur{
      .container{
        .content{
          width: 100%;
          margin-left: 0;
          margin-bottom: 50px;
        }

        .cta{
          margin-top: 20px;
        }
      }

      .columns{
        .colg{
          width: 100%;

          .block-img{
            margin-top: 50px;
          }
        }

        .cold{
          width: 100%;

          .txtRight{
            width: 100%;
            padding-left: 0;
          }
        }
      }
    }

    #activites{
      padding-top: 50px;
      .container{
        .surtitre{
          letter-spacing: 15px;
          margin-left: -30px;
        }
      }
      .panels{
        flex-direction: column;

        .panel{
          padding: 20px 0;

          .title{
            width: 80vw;
          }

          a{
            padding: 5px 10px;
            margin-bottom: 0;
          }
        }
      }
    }

    #portion-consommateur{
      margin-top: 350px;

      .columns{
        .block-img{
          margin-top: -300px;
          height: 450px;
        }

        .texte{
          width: 90%;
          padding-right: 20px;

          &::before{
            width: 90%;
          }
        }

        .block-img-2{
          width: 70%;
          margin-top: 0;
          margin-bottom: -110px;
        }
      }
    }

    #viande-conditionnee{
      padding-top: 150px;

      .columns{
        margin-top: 0;

        .colg{
          .block-img{
            height: 400px;
          }
        }

        .cold{
          padding-top: 0;
        }
      }

      .container{
        .col-g{
          .block-img{
            height: 400px;
          }
        }

        .col-d{
          padding-top: 0;
        }
      }
    }

    #viande-en-carcasse{
      background: #fff;
      background: -moz-linear-gradient(180deg, #fff 70%, #000 60%);
      background: -webkit-linear-gradient(180deg, #fff 70%, #000 60%);
      background: linear-gradient(180deg, #fff 70%, #000 60%);

      .container{
        .col-g{
          margin-top: 0;
        }

        .col-d{
          margin-top: 0;
          margin-bottom: 0;

          .block-img{
            margin-top: -50px;
            height: 400px;
          }
        }
      }
    }

    #citation-dark{
      padding: 100px 0;

      p{
        letter-spacing: 2px;
      }
    }

    #transport-logistique{
      margin-top: 0;
      padding-top: 0;
      height: 300px;
      background: #fff;
      background: -moz-linear-gradient(270deg, #fff 90%, #000 90%);
      background: -webkit-linear-gradient(270deg, #fff 90%, #000 90%);
      background: linear-gradient(270deg, #fff 90%, #000 90%);

      .columns{
        .col-g{
          .block-img{
            height: 400px;
            margin-bottom: 0;
          }
        }

        .col-d{
          width: 85%;
          padding-left: 15%;
        }
      }
    }

    #liste-actualites{
      height: 650px;
    }
  }

  .page-template-actualites{
    #simple-page{
      .container{
        .grid_articles{
          grid-template-columns: repeat(1, 1fr);
          gap: 50px;

          .card_article{
            padding-bottom: 30px;
          }
        }
      }
    }
  }

  .page-template-single{
    #presa-jobs{
      .container{
        .content_service{
          padding-left: 0;
        }
      }
    }
  }
}

// Retina Screen
  
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px),
only screen and (min-resolution: 192dpi) and (min-width: 1300px),
only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  #disclaimer {
    .container {
      margin: auto;
    }
  }
}
  