.page-template-a-propos {
  #header {
    height: 300px;
    padding-bottom: 100px;
    background-color: $secondary-color;

    .container{
      margin-top: 200px;

      h1{
        color: $light;
        font-weight: 400;

        strong{
          font-weight: 600;
        }
      }
    }
  }

  .custom-shape-divider-bottom-1733734661{
    background-color: $secondary-color;
    position: inherit;

    svg{
      fill: $light;
    }
  }

  #section-introduction {
    padding: 0;
    margin: 0;
    height: auto;

    .clip{
      background-color: $light;

      .container {
        .col-g {
          margin: 0;
          margin-top: 100px;
  
          .intro {
  
            h1 {
              font-size: 3rem;
              color: $light;
              font-weight: 600;
              line-height: 3.5rem;
            }
          }
        }
        .col-d {
          p{
            color: $secondary-color
          }

          .cta{
            position: inherit;
            margin-top: 50px;
            bottom: auto;
          }
        }
      }
    }
  }

  #section-valeurs{
    #intro-valeurs{
      padding-top: 200px;
    
      .colg,
      .cold{
        width: 50%;
    
        h2 {
          margin-bottom: 30px;
          color: $dark;

          strong{
            color: $primary-color;
          }
        }
      }
    }

    #tabs-valeurs{
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .tiny-columns{
        border-left: 1px solid $light-gray;
        padding: 30px;

        h3{
          color: $primary-color;
          font-size: 1rem;
          letter-spacing: 3px;
          text-transform: uppercase;
          font-weight: 800;
        }

        p{
          font-size: .9rem;
          text-align: left;
        }

        .cta{
          text-transform: uppercase;
          color: $middle-gray;
          background: none;
          padding: 0;

          &::before{
            content: none;
          }

          &:hover{
            font-weight: 800;
          }
        }
      }
    }

    .section-background{
      height: 300px;
      margin-top: 100px;
    }
  }

  #leader{
    background-color: $dark;
    padding: 100px 0;

    .columns{
      .col-g{
        width: 70%;

        h3{
          color: $primary-color;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-weight: 600;
          font-size: 1rem;
        }
    
        h2{
          color: $light;
          margin: 10px auto 30px 0;
        }

        .block-img{
          height: 500px;
        }
      }

      .col-d{
        width: 30%;
        padding-top: 200px;

        p{
          color:$light;
        }

        .cta{
          background: none;
          color: $primary-color;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-weight: 600;
          font-size: 1rem;
          margin: 0;
          margin-top: 30px;
          padding: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 150px;

          &::after{
            content: '';
            width: 10px;
            height: 10px;
            display: block;
            border-right: 2px solid;
            border-top: 2px solid;
            transform: rotate(45deg);
            border-color: $light;
            transition: all ease-in 300ms
          }
    
          &:hover{
            color : $light;
    
            &::after{
              border-color: $primary-color;
            }
          }
        }
      }
    }

    .statsBlock{
      display: flex;
      gap: 30px;
      margin-top: -100px;
      justify-content: flex-end;

      .block-stat{
        background-color: $primary-color;
        color: $light;
        height: 150px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
          text-align: center;
          font-size: 2rem;
          line-height: 2.3rem;
        }

        &:first-child{
          background-color: $dark-gray;
        }
      }
    }

    .cta{
      margin: 50px auto 0;
    }
  }

  #card-news{
    padding: 100px 0;

    .container{
      gap: 0;

      .col-g{
        width: 50%;
        position: relative;
        z-index: 1; 

        .content{
          background-color: $light;
          width: calc(100% - 80px);
          padding: 50px 80px 50px 0;
          margin-top: 150px;

          h2{
            color: $secondary-color;
            margin-bottom: 40px;

            strong{
              color: $primary-color;
            }
          }
          
        }

      }

      .col-d{
        width: 62.5%;
        margin-left: -10%;
        position: relative;
        z-index: 0;

        .swiper{
          .swiper-wrapper{
            .swiper-slide{
              height: 500px;
            }
          }

          .swiper-button-prev,
          .swiper-button-next{
            left: auto;
            right: 0;
          }

          .swiper-button-prev{
            right: 50px;
            background-color: $light;

            &::after{
              color: $secondary-color;
            }
          }
        }
      }
    }
  }

  #croissance{
    background-color: $dark;
    margin-top: 400px;
    position: relative;

    .columns{
      flex-direction: column;
      gap: 0;

      .block-img{
        margin-top: -400px;
        height: 600px;
      }

      .texte{
        width: calc( 50% - 60px);
        padding: 120px 60px 0 0;

        h2,
        p{
          color: $light;
          position: relative;
          z-index: 2;
        }

        h2{
          font-weight: 800;
          margin-bottom: 50px;
        }

        &::before{
          content:'';

          background: $dark-gray;
          background: -moz-linear-gradient(180deg, $dark-gray 70%, rgba(0,0,0,0) 100%);
          background: -webkit-linear-gradient(180deg, $dark-gray 70%, rgba(0,0,0,0) 100%);
          background: linear-gradient(180deg, $dark-gray 70%, rgba(0,0,0,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
          position: absolute;
          top: 0;
          left:0;
          display: block;
          width: 50%;
          height: 300px;
          z-index: 0;
        }

        margin-top: -250px;
      }

      .block-img-2{
        width: 450px;
        margin: auto;
        margin-top: -100px;
        margin-bottom: -200px;
      }
    }
  }

  #savoir-faire{
    padding-top: 300px;
  }
  
  #livraison{
    padding-top: 150px;

    .container{
      border-bottom: 1px solid $font-lightGray;
      padding-bottom: 150px;

      .col-g{
        position: relative;

        .block-img{
          height: 750px;
        }

        .floating-img{
          width: 200px;
          position: absolute;
          bottom: -50px;
          left: -90px;
          height: 170px;
        }
      }

      .col-d{
        padding-top: 150px;

        h3{
          text-transform: uppercase;
          color: $middle-gray;
          letter-spacing: 5px;
          font-size: 1rem;
          display: flex;
          align-items: center;

          &::before{
            content:'';
            display: block;
            width: 30px;
            height: 2px;
            background-color: $primary-color;
            margin-right: 20px;
          }
        }

        h2{
          color: $secondary-color;
          margin-bottom: 50px;
        }

        ul{
          list-style: none;
          margin-bottom: 50px;

          li{
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            display: flex;
            justify-content: space-between;
            padding: 15px 50px;
            border-bottom: 1px solid $font-lightGray;

            &::after{
              content:'v';
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
