.page-template-activites{

    #acteur-majeur{
        .container{
            .content{
                width: 75%;
                margin: 50px auto 100px;
            }

            .cta{
                margin: 50px auto 0;
            }
        }

        .columns{
            .colg{
                width: 40%;

                p{
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 1px;
                }

                .block-img{
                    margin-top: 100px;
                    z-index: 1;
                    position: relative;
                }
            }

            .cold{
                width: 60%;

                .block-img{
                    height: 450px;
                    margin-left: -15%;
                    width: 115%;
                }

                .txtRight{
                    padding-left: 10%;
                    width: 90%;
                    padding-top: 60px   ;
                }
            }
        }
    }

    #activites{
        padding: 100px 0;

        .container{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            
            .surtitre{
                letter-spacing: 50px;
                text-align: center;
                color: $primary-color;
                text-transform: uppercase;
                font-family: 'montserrat',sans-serif;
                font-weight: 600;
                font-size: .8rem;
                margin-right: -50px;
                width: fit-content; 
            }   

            h2{
                color: $dark;
                text-align: center;
                margin-bottom: 50px;
            }
        }

        .panels{
            height: 680px;
            overflow: hidden;
            display: flex;
            position: relative;

            .panel{
                position: relative;
                text-align: center;
                align-items: center;
                transition: all ease-in 0.2s;
                font-size: 20px;
                background-size: cover !important;
                background-position: center;
                background-repeat: no-repeat !important;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                filter: saturate(0);
                gap: 30px;

                &::before{
                    content:'';
                    z-index: 0;
                    position: absolute;
                    width: 100%;
                    display: block;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background-color: rgba(0,0,0,.5);
                    transition: all ease-in 300ms;
                }

                .title {
                    color: $light;
                    font-size: 2rem;
                    line-height: 2.3rem;
                    font-weight: 600;
                    text-align: center;
                    z-index: 1;
                    position: relative;
                    width: 15vw;
                    text-shadow: 5px 5px 5px rgba(0,0,0,.5);
                }

                a{
                    display:block;
                    padding:20px;
                    text-decoration:none;
                    width: 60px;
                    z-index: 1;
                }

                &:hover{
                    flex: 2;
                    filter: saturate(1);

                    &::before{
                        background: rgba(0,0,0,0);
                    }
                }
            }
        }
    }

    #portion-consommateur{
        left: 50vw;
        top: -300px;
        z-index: 100;
        position: absolute;
    }

    #portion-consommateur-2{
        background-color: $dark;
        margin-top: 400px;
        position: relative;
    
        .columns{
          flex-direction: column;
          gap: 0;
    
          .block-img{
            margin-top: -400px;
            height: 600px;
          }
    
          .texte{
            width: calc( 50% - 60px);
            padding: 120px 60px 0 0;
    
            h2,
            p{
              color: $light;
              position: relative;
              z-index: 2;
            }
    
            h2{
              font-weight: 800;
              margin-bottom: 50px;
            }
    
            &::before{
              content:'';
              background: $dark;
              position: absolute;
              top: 0;
              left:0;
              display: block;
              width: 50%;
              height: 300px;
              z-index: 0;
            }
    
            margin-top: -250px;
          }
    
          .block-img-2{
            width: 450px;
            margin: auto;
            margin-top: -100px;
            margin-bottom: -200px;
          }
        }
    }

    #transport-logistique,
    #viande-conditionnee{
        padding-top: 200px;
    
        .container{
          padding-bottom: 150px;
    
          .col-g{
            position: relative;
    
            .block-img{
              height: 600px;
            }
          }
    
          .col-d{
            padding-top: 150px;
    
            h3{
              text-transform: uppercase;
              color: $middle-gray;
              letter-spacing: 5px;
              font-size: 1rem;
              display: flex;
              align-items: center;
    
              &::before{
                content:'';
                display: block;
                width: 30px;
                height: 2px;
                background-color: $primary-color;
                margin-right: 20px;
              }
            }
    
            h2{
              color: $secondary-color;
              margin-bottom: 50px;
            }
    
            ul{
              list-style: none;
              margin-bottom: 50px;
    
              li{
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                display: flex;
                justify-content: space-between;
                padding: 15px 50px;
                border-bottom: 1px solid $font-lightGray;
    
                &::after{
                  content:'v';
                  color: $primary-color;
                }
              }
            }
          }
        }
    }

    #viande-en-carcasse{
        background: rgb(255,255,255);
        background: -moz-linear-gradient(90deg, $light 60%, $dark 60%);
        background: -webkit-linear-gradient(90deg, $light 60%, $dark 60%);
        background: linear-gradient(90deg, $light 60%, $dark 60%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
    
        .container{    
            .col-d{
                margin-bottom: -100px;

                .block-img{
                    margin-top: 100px;
                    height: 600px;
                }
            }
        
          .col-g{
    
            h3{
              text-transform: uppercase;
              color: $middle-gray;
              letter-spacing: 5px;
              font-size: 1rem;
              display: flex;
              align-items: center;
    
              &::before{
                content:'';
                display: block;
                width: 30px;
                height: 2px;
                background-color: $primary-color;
                margin-right: 20px;
              }
            }
    
            h2{
              color: $secondary-color;
              margin-bottom: 50px;
            }
    
            ul{
              list-style: none;
              margin-bottom: 50px;
    
              li{
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                display: flex;
                justify-content: space-between;
                padding: 15px 50px;
                border-bottom: 1px solid $font-lightGray;
    
                &::after{
                  content:'v';
                  color: $primary-color;
                }
              }
            }
          }
        }
    }

    #citation-dark{
        background-color: $dark;
        padding: 200px 0 100px 0;
        
        h2{
            text-align: center;
            color: $light;
            font-size: 2rem;
            line-height: 2.5rem;
        }

        p{
            text-transform: capitalize;
            color: $light;
            text-align: center;
            margin-top: 50px;
            letter-spacing: 10px;
        }
    }

    #transport-logistique{
        background: $light;
        background: -moz-linear-gradient(270deg, $light 60%, $dark 60%);
        background: -webkit-linear-gradient(270deg, $light 60%, $dark 60%);
        background: linear-gradient(270deg, $light 60%, $dark 60%);
        padding-top: 100px;
        height: 500px;

        .container{
            padding-bottom: 0;

            .col-g{
                .block-img{
                    margin-bottom: -100px;
                }
            }

            .col-d{
                padding-top: 0;
                margin-bottom: -200px;
            }
        }
    }

    #citation{
      margin: 400px auto 0;

      .top_content{
        margin: 0 auto;
      }
    }

    #liste-actualites{
        margin-top: 0;
        height: 300px;
        background-size: cover;
    }
}