.page-template-contact {

  #header {
    height: 300px;
    padding-bottom: 100px;
    background-color: $secondary-color;
    position: relative;

    .container{
      padding-top: 200px;

      h1{
        color: $light;
        font-weight: 400;

        strong{
          font-weight: 600;
        }
      }
    }
  }

  .custom-shape-divider-bottom-1733734661{
    background: linear-gradient(180deg, #fff 5%, #000 5%);
    position: inherit;

    svg{
      fill: $light;
    }
  }

  #sites-exploitations{
    @include liGray-to-white;
    padding: 80px 0;

    .container{
      margin-bottom: 100px;

      h2{
        text-align: center;
        color: $secondary-color;

        strong{
          color: $primary-color;
        }
      }
    }

    .columns{
      margin-bottom: 0;

      .col-g{
        width: 40%;

        .site{
          h3{
            border-left: 3px solid $primary-color;
            padding-left: 30px;
            font-weight: 600;
            margin-bottom: 20px;

            strong{
              text-transform: uppercase;
              font-weight: 300;
              color: $primary-color;
            }
          }
  
          p{
            border-left: 1px solid $font-lightGray;
            padding-left: 30px;
            line-height: 1.8rem;

            strong{
              font-weight: 600;
            }
          }

          a{
            color: $secondary-color;
          }
        }

        .site + .site{
          margin-top: 50px;
        }
      }

      .block-img{
        width: 60%;
        position: relative;

        img{
          object-fit: contain;
        }

        span{
          position: absolute;
          font-size: 3rem;
          animation: pulse ease-in-out 2000ms infinite;
          border: 5px solid;
          background-color: $primary-color;
          display: block;
          height: 10px;
          width: 10px;
          border-radius: 10px;
        }

        span + span{
          background-color: $dark;
        }
      }
    }
  }

  #citation{
    min-height: 500px;
    padding-bottom: 300px;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}
