.page-template-contact {
  #hero {
    width: 100vw;
    height: 400px;
    margin-top: 210px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  #contact {
    background-color: transparent !important;
    padding-top: 150px;

    .container {
      padding-bottom: 60px;
      .colg {
        h1 {
          text-align: left;
          color: $light;
          font-size: 3rem;
          line-height: 3.5rem;
          font-weight: 300;
        }
      }

      .cold {
        padding-left: 20%;

        form {
          padding-top: 100px;
          margin: auto;

          .form_grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 50px;
            grid-row-gap: 0px;
          }

          ul {
            list-style: none;

            li {
              margin-bottom: 20px;

              input,
              textarea,
              select {
                min-width: 100%;
                width: 100%;
                max-width: 100%;
                border: none;
                border-bottom: 1px solid $light;
                min-height: 50px;
                background: none;
                color: $middle-gray;

                &:focus {
                  outline: 0;
                  border-bottom: 1px solid $primary-color;

                  &::placeholder {
                    color: $dark-dark-gray;
                  }
                }

                &::placeholder {
                  color: $light-gray;
                }
              }

              input[type="radio"] {
                min-height: 10px;
              }

              input[type="submit"] {
                min-width: auto;
                width: 250px;
                background-color: $primary-color !important;
                color: $light;
                margin: auto;
                border: none;
                filter: brightness(1);

                &:hover {
                  filter: brightness(0.8);
                }
              }

              option {
                color: $light-gray;
              }
            }

            .liSubmit p {
              text-align: center;
              margin-top: 80px;
            }

            .cta-border {
              margin-left: 30px;
              font-size: 0.7rem;
              padding: 5px 25px;
            }

            p {
              color: $light;
            }
          }
        }
      }
      h3 {
        font-size: 0.9rem;
        font-weight: 200;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: $primary-color;
      }
    }
  }

  #widget-contact {
    padding: 50px 0;

    .container {
      justify-content: space-between;
      padding-bottom: 0;

      .content-icons {
        display: flex;

        .block-img {
          height: 50px;
          width: 50px;

          img{
            object-fit: contain;
          }
        }

        .txt-icons {
          .subtitle {
            color: $dark-dark-gray;
            margin-bottom: 0;
            letter-spacing: 0;
          }

          a {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  #experience-unique {
    position: relative;
    background: $secondary-color;
    margin-top: 200px;
    padding: 100px 0;

    .img-g {
      position: absolute;
      left: 0;
      top: -100px;
      width: calc(50vw - 50px);
      height: 1000px;
    }

    .container {
      .col-d {
        padding-top: 200px;

        h2 {
          margin-bottom: 30px;
        }
        p {
          color: $light;
        }

        .img-du {
          margin-top: 50px;
          height: 700px;
        }
      }
    }
  }

  #banner-fullwidth {
    background: none;

    .container {
      .subtitle {
        color: $dark-gray;
      }

      h2 {
        color: $dark-gray;

        strong {
          color: $primary-color;
        }
      }

      .cta {
        background: none;
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
}
