.gites-template {
  #header {
    height: 700px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      filter: brightness(0.5);
    }

    .container {
      margin-top: 250px;
      text-align: center;
      position: relative;
      z-index: 1;

      h1 {
        color: $light;
      }

      span {
        margin: auto;
        margin-top: 50px;
      }
    }

    .columns{
      margin-top: 50px;
      align-items: center;
      justify-content: center;

      a, .cta, .cta-border{
        margin: 0;
        font-size: .7rem;
      }

      .cta-border{
        background-color: #20202061;
      }
    }
  }

  .intro {
    margin-bottom: 100px;
  }

  #simple-page,
  #section_bleue,
  #outro {
    padding: 100px 0;
    .container {
      .colg {
        position: relative;
        z-index: 10;

        .intro {
          margin-top: 100px;
          h2 {
            text-transform: uppercase;
            color: $primary-color;
            font-size: 1rem;
            letter-spacing: 10px;
            font-weight: 400;
          }

          h1 {
            font-size: 3rem;
            color: $secondary-color;
            font-weight: 300;
            line-height: 3.5rem;
          }
        }

        &::before {
          content: "";
          width: 50px;
          height: 5px;
          display: block;
          background: $primary-color;
          margin: -2.5px 0 50px 0;
        }
      }
      .cold {
        padding-left: 20%;
        margin: 100px 0 150px;

        h2 {
          font-size: 1rem;
          color: $primary-color;
          letter-spacing: 8px;
          text-transform: uppercase;
          font-weight: 600;

          &::before {
            content: "→";
          }
        }

        a {
          color: $secondary-color;
          font-weight: 600;
        }

        .intro,
        .par_cta {
          &::after {
            content: "";
            width: 50px;
            height: 5px;
            display: block;
            background: $primary-color;
            margin: 50px 0;
          }

          ul {
            border-left: 5px solid $primary-color;
            padding-left: 20px;
          }

          li {
            margin-left: 20px;
            margin-bottom: 0;

            ul {
              border-left: none;
              padding-left: 5px;
            }
          }
          a {
            color: $secondary-color;
          }
        }

        .cta {
          color: $light;
          font-weight: 200;
          font-size: 0.8rem;
          margin: 30px 0;
          display: inline-block;
        }
      }
    }

    /* Accordion */

    .accordion {
      color: $primary-color;
      border-bottom: 1px solid $light-gray;
      cursor: pointer;
      padding: 45px 15px 15px;
      width: 100%;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;

      h2 {
        width: fit-content;
        display: inline;
      }
    }

    .accordion:after {
      content: "\002B";
      color: $primary-color;
      float: right;
      margin-left: 5px;
      font-size: 3rem;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;

      h3 {
        font-family: "Jost";
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 3px;
        margin: 30px 0 10px 0;
        line-height: 1rem;
      }

      ul {
        margin-left: 20px;
        li {
          margin-bottom: 0;
        }
      }
    }

    .section-intro {
      text-align: center;

      span,
      p,
      h2 {
        text-align: center;
      }

      p{
        a{
          color: $primary-color;
          font-weight: 500;
        }
      }

      h2{
        margin-bottom: 30px;
      }
    }

    .amenagements {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 70px;
      grid-row-gap: 20px;
    }

    .cta {
      margin: 100px auto 0;
    }

    /* End accordion */
  }

  .swiper-galerie{
    .swiper-wrapper{
      .swiper-slide{
        a{
          position: relative;
          height: 100%;
          width: 100%;
          display: block;
          max-height: 250px;
          overflow: hidden;
          
          &:before{
            content: "+";
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #a7a7a78a;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 2rem;
            transition: all ease-in 300ms;
          }

          &:hover{

            &:before{
              opacity: 1;
            }
          }
        }
      }
    }
  }

  #nos-chambres {
    background-color: $dark-dark-gray;
    padding: 100px 0;

    .container {
      position: relative;

      h2 {
        color: $light;
      }

      .swiper-chambres {
        .swiper-wrapper {
          .swiper-slide {
            height: 500px;
            position: relative;

            .content-slider {
              position: absolute;
              bottom: 40px;
              left: 30px;
              font-size: 2rem;
              z-index: 1;
              font-family: "Gilda Display";
              color: $light;

              &::after {
                content: "";
                width: 50px;
                border-bottom: 2px solid $primary-color;
                margin-top: 20px;
                display: block;
              }
            }

            &::before {
              content: "";
              background-color: $primary-color;
              opacity: 0;
              top: 0;
              left: 0;
              z-index: 2;
              width: 100%;
              height: 100%;
              position: absolute;
              display: block;
              transition: all ease-in 200ms;
            }

            &::after{
              content: "";
              display: block;
              background: linear-gradient(#ffffff00 65%, #000000b3);
              bottom: 0;
              left: 0;
              position: absolute;
              z-index: 0;
              height: 100%;
              width: 100%;
            }

            &:hover::before {
              opacity: 0.7;
            }

            &:hover {
              .hover-effect {
                opacity: 0.8;
              }
            }

            .hover-effect {
              width: 50px;
              height: 50px;
              background: $dark-dark-gray;
              opacity: 0;
              margin: 0;
              border-radius: 25px;
              position: absolute;
              left: calc((100% - 50px) / 2);
              top: calc((100% - 50px) / 2);
              line-height: 48px;
              font-size: 1.8rem;
              text-align: center;
              color: $light;
              transition: opacity ease-in 200ms;
            }
          }
        }
      }

      .swiper-chambre-button-prev,
      .swiper-chambre-button-next {
        width: 50px;
        height: 50px;
        border: 1px solid $light;
        position: absolute;
        top: 50%;
        left: -90px;
        color: $light;
        border-radius: 25px;
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          font-family: swiper-icons;
          margin: auto;
          color: #fff;
          font-size: 1em;
          text-transform: none !important;
          letter-spacing: 0;
          font-variant: initial;
          line-height: 1;
        }
      }

      .swiper-chambre-button-next {
        right: -90px;
        left: auto;
        &::after {
          content: "next";
        }
      }

      .swiper-chambre-button-prev {
        &::after {
          content: "prev";
        }
      }
    }
  }

  #photo-separator {
    max-height: 600px;
    overflow: hidden;
  }

  #section-extra {
    background: none !important;

    &::before {
      background: none;
      display: none;
    }

    .container {
      .col-g {
        p {
          color: $dark-dark-gray;
        }

        .subtitle {
          color: $dark-dark-gray;
        }

        .cta-reser {
          img {
            filter: brightness(0);
          }
        }
      }

      .col-d {
        .swiper-extra {
          .swiper-wrapper {
            .swiper-slide {
              background-color: $light-gray;
            }
          }

          .swiper-pagination {
            .swiper-pagination-bullet {
              border: 1px solid $primary-color;
            }
          }
        }

        .swiper-button-next {
          display: none;
        }
      }
    }
  }

  #disclaimer_banner {
    background-color: $secondary-color;
    padding: 100px 0;
    width: 95vw;
    margin: auto;

    .container {
      position: relative;
      z-index: 2;
      color: $light;
      width: 80vw;
      padding: 0;

      h2 {
        color: $primary-color;
        margin-bottom: 0;

        strong {
          color: $light;
        }
      }

      .cta-border {
        position: absolute;
        top: calc((100% - 44px) / 2);
        right: 0;
        left: auto;
        z-index: 10;

        &:hover {
          border-color: $secondary-color;
        }
      }
    }
  }

  #confiance {
    padding-bottom: 250px;
  }

  #banner-fullwidth {
    background: none;

    .container {
      .subtitle {
        color: $dark-gray;
      }

      h2 {
        color: $dark-gray;

        strong {
          color: $primary-color;
        }
      }

      .cta {
        background: none;
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }

  #content-tarifs{
    h3{
      letter-spacing: 0;
    }

    table{
      width: 100%;
      border-bottom: 1px solid $primary-color;
      margin-bottom: 30px;

      thead{
        background-color: $primary-color;

        th{
          padding: 5px 15px;
          p{
            font-weight: 500;
            color: $light;
            margin: 0;
          }
        }
      }
      tbody{
        tr{
          td{
            p{
              margin:0;

              em{
                font-style: italic;
              }
            }
          }
        }
      }
      
    }
  }
}
