.page-template-single{
    #header {
        height: 300px;
        padding-bottom: 100px;
        background-color: $secondary-color;
    
        .container{
          margin-top: 200px;
    
          h1{
            color: $light;
            font-weight: 400;
    
            strong{
              font-weight: 600;
            }
          }
        }
    }
    
    .custom-shape-divider-bottom-1733734661{
        background-color: $secondary-color;
        position: inherit;
    
        svg{
          fill: $light;
        }
    }
}