.page-template-single{
    #header {
        height: 300px;
        padding-bottom: 100px;
        background-color: $secondary-color;
    
        .container{
          margin-top: 200px;
    
          h1{
            color: $light;
            font-weight: 400;
    
            strong{
              font-weight: 600;
            }
          }
        }
    }
    
    .custom-shape-divider-bottom-1733734661{
        background-color: $secondary-color;
        position: inherit;
    
        svg{
          fill: $light;
        }
    }

    #section-introduction{
        margin-top: 0;
        background: none;
        margin-bottom: 0;
        height: fit-content;
        padding-bottom: 50px;

        .container{
            .col-g{
                margin-top: 50px;
            }

            .col-d{
                p{
                    color: $dark;
                }

                .cta{
                    position: relative;
                    bottom: auto;
                }
            }
        }
    }
}